<div class="history" #scrollMe  >
  <div class="search-bar" >
    <input 
    type='text'
    placeholder="searh..."
    class="search-input"
    [(ngModel)]="search"
    (input)="onSearch()" />
  </div>
  <div 
    *ngFor="let transaction of transactionHistory;"
    class="card-container">
    <div   
      [ngClass]="{rightCard: transaction.my}">
      <app-transaction-card
        [timeStamp]="transaction.timestamp"
        [amount]="transaction.amount"
        [description]="transaction.description"
        [isExpense]="!transaction.isPaid"
        [showBtn]="!transaction.isPaid && showSettleBtn"
        [id]="transaction.id"
      ></app-transaction-card>
    </div>
  </div>
</div>