<div class="container">
    <div class="row">
        <h2>Split Pay</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, non deserunt aspernatur eveniet quas
            cupiditate
            laborum officiis expedita pariatur quis asperiores placeat ullam delectus repellat iure repudiandae maiores!
            Eveniet, commodi.</p>
        <div class="col offset-s3 offset-m5">
            <div class="g-signin2 button" data-onsuccess="onSignIn"></div>
        </div>
    </div>
</div>