.collection{
    border-radius: 0.5em;
    background-color: #ff5722;
}

h5{
    text-align: center;
    color: #ffffff;
    font-size: 2em;
}

.collection-item.active{
    background-color: #ffebee;
    color: black;
}

