<div class="my">
  <div class="btn-container">
    <div class="btn" (click)="modal.toggleModal()" >
      Quick pay
    </div>
  </div>
  <div class="history">
    <app-history 
      [history]="payment_history" 
      [showSettleBtn]=true
      (settle)="fetchExpenses()" ></app-history>
  </div>
  <app-controls 
    
    (onAction)="onMyExpense($event)" ></app-controls>
</div>
<app-modal #modal>
  <app-search-users #users ></app-search-users>
  <div class="controls">
    <app-controls
      (onAction)="onShareExpense($event)" ></app-controls>
  </div>
</app-modal>