.my {
  border: 1px solid #eeeeee;
  padding: 0;
  margin-top: 10px;
  position: relative;
  height: calc(100vh - 95px);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.history {
  height: calc(100vh - 200px);
  overflow: auto;
}
.btn-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.btn {
  background-color: #ff5722;
}
.controls {
  width: 100%;
  margin-top: 60px;
}
@media(max-width: 600px) {
  .my {
    height: calc(100vh - 290px);
  }
  .history {
    height: calc(100vh - 400px);
  }
}