.root {
  width: 100%;
  border: 1px solid #eeeeee;
  position: absolute;
  bottom: 0;
  padding: 10px 15px;
  margin-right: 10px;
  background-color: #FFFFFF;
}
form {
  display: flex;
  align-items: center;
}
.amt-input,
.desc-input {
  height: 25px !important;
  margin: 0 5px !important;
}
.custom-btn {
  height: 29px;
  max-width: 120px;
  width: 17%;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}
.custom-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.expense {
  background-color: #F44336;
}
.settle {
  background-color: #8BC34A;
}

/* form {
  display: flex;
  align-items: center;
}
.amt-input,
.desc-input {
  border-radius: 5px; 
  height: 25px;
  padding: 0 5px;
  width: 15%;
  width: 20px;
  margin: 0 2px;
}
.desc-input {
  width: 30%;
}
.btn1 {
  height: 29px;
  max-width: 120px;
  width: 17%;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 2px;
}
.btn1:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.expense {
  background-color: #F44336;
}
.settle {
  background-color: #8BC34A;
} */