<div class="container">
  <input 
    type='search' 
    placeholder="search..." 
    [(ngModel)]="search" 
    (change)="onSearch()" />
  <div class="search-users" *ngIf="searchUsers.length"  >
    <div 
      class="search-user" 
      *ngFor="let searchUser of searchUsers;"
      (click)="onAddUser(searchUser)" >
      {{ searchUser }}
    </div>
  </div>
  <div class="users" *ngIf="users.length" >
    <div class="user" *ngFor="let user of users;">
      <div>
        {{ user }}
      </div>
      <i class="tiny material-icons" (click)="onRmvUser(user)" >clear</i>
    </div>
  </div>
</div>