<app-header></app-header>
<div class="row">

    <div class="col s12 m4 l3">
        <app-side-nav></app-side-nav>
    </div>

    <div class="col s12 m8 l9">
        <router-outlet></router-outlet>
        <!-- <app-landing></app-landing> -->
        <!-- <app-dashboard></app-dashboard>
        <app-personal></app-personal> -->
    </div>
</div>

<app-action-indicator
  [loading]="actionIndicator.loading"
  [error]="actionIndicator.error"
  [show]="actionIndicator.showIndicator" ></app-action-indicator>