.root {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.users {
  max-height: 200px;
  overflow: auto;
}
.handler {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  color: #ffffff;
  background-color: #FF5722;
}
.user {
  background-color: #ffffee;
  display: flex;
  height: 25px;
  border-bottom: 1px solid #cccccc;
  padding: 0 10px;
  align-items: center;
}
.username {
  font-weight: 500;
}
.email {
  font-weight: 300;
  padding-left: 15px;
  overflow: hidden;
}