.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  background-color: #FF5722;
  color: #FFFFFF;
  margin: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.emty-msg {
  margin-top: 150px;
}
.group-items {
  width: 80%;
  max-width: 900px;
  border: 1px solid #eeeeee;
  margin-top: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.group-item {
  width: 100%;
  height: 40px;
  display: flex;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
}
.group-item:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.group-name,
.group-size {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.group-name {
  padding: 10px;
}
.group-size {
  width: 20%;
  justify-content: center;
  background-color: #FBE9E7;
  border-bottom: 1px solid #FF5722;
}
.controls {
  display: flex;
} 
input {
  padding: 0 10px !important;
}

@media(max-width: 550px) {
  .group-items {
    width: 90%;
  }
}